.row
{
  margin: 0;
}
.section1
{
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  max-width:80%;
  margin:0 auto;


}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;

}

.navbar-light .navbar-nav .nav-link:hover {

    color: red!important;
}
.navbar-light .navbar-brand:hover {

    color: red!important;
}
.navbar-light .navbar-brand img
{
  padding: 10px;
}
.nav
{
  background: transparent;
}
.section1
{
  background-image: url("../image/bannerAndLogo/banner.jpg");

background-repeat: no-repeat;
  width: 100%;

  background-size:contain;
  height:100px;
padding-bottom: 65%;

}
.header
{
  width: 100%;
  background-color: rgba(0,0,0,.2);
}


.seewhy
{
  position: absolute;
bottom: 22%;
 left:48%;
  color: white;
}
.dropdownimg
{
  text-align: center;
}
.arrow-left {
     width: 0;
      height: 0;
      border-top: 50px solid white;
      border-right: 50px solid transparent;
}
    .arrow-right{
      width: 0;
      height: 0;
      margin-left:220px;
      border-top: 50px solid white;
      border-left: 50px solid transparent;
    }
/*nav
{
  position: absolute;
}*/



/*scrtion 2 */
.section2
{
  text-align: center;
  color: grey;
  font-size: 20px;
}

.section2-para
{
  font-size: 20px;
  
  text-align: center;
}

 .section2-icon2 img
 {
  width: 40px;
  vertical-align: bottom;
  margin-top:100px;
 }
 .section2-icon3 
 {
 text-align: right;

 }

  .section2-icon3 img
 {
  width: 40px;
  vertical-align: bottom;
  margin-top:100px;

 }
   .section2-icon  img 
    {
        filter: grayscale(100%);
        width: 90%;
    }
   .section2-icon img:hover
    {
       filter: grayscale(0);
    }
     .section2-icon1  img 
    {
        filter: grayscale(100%);
        width: 90%;
    }
   .section2-icon1 img:hover
    {
       filter: grayscale(0);
    }
     .section2-icon  h4
     {
        filter: grayscale(100%);

     }
       .section2-icon h4:hover
    {
       filter: grayscale(0);
    }
      .section2-icon1  h4
     {
        filter: grayscale(100%);

     }
       .section2-icon1 h4:hover
    {
       filter: grayscale(0);
    }
    .section2-icon  h4
    {
      color: red;
      font-size: 17px;
      padding-top:20px; 
    }
      .section2-icon1  h4
    {
      color: red;
      font-size: 17px;
      padding-top:20px; 
    }
    @media only screen and (max-width: 991px)
    {
       .section2-icon {
        display: none;

      }
      .section2-icon1
      {
        text-align: center;
      }
      .section2-icon1 img
      {
          width: 80%;
      }

    }
      @media only screen and (max-width: 770px){
         .section2-icon1 img{
          width: 40%;
        }
      }
   /*   .section2-icon p
      {
        font-size: 15px;
        text-align: center;
      }*/
    /**/
.left-righticon
{
  width: 30px;
}
.col-sm-2

{
  text-align:   center;
  padding-right:20px;
}
.col-sm-2 p
{
  text-align: center;
     font-size: 13px;
  

/*  font-size: 10px;*/
}

.col-sm-2 h5:hover {
  color: red;
  cursor: pointer;

}
.col-sm-2 img:hover {
 display: inline-block;
}

/*section3*/
.section3
{
  position:relative;
}
.section3-Logo
{
  position: absolute;
  top:15%;
  left: 45%;
}
.section3-header
{
  position: absolute;
  top:25%;
  text-align: center;
}

.bannerdrop2
{
  width: 100%;
  color: white;
}
.section3-header 
{
  position: absolute;
  color: white !important;
     left: 40%;
     top:35%;
   /* text-align:center;
    top:20px;
    width: 100%;*/
}
/*.img-fluid .of
{
  width: 100%;
}*/
h4
{
  color: white;top:40%;
}
div .section3-paragraph
{
  width: 70%;
  text-align: center;
  position: absolute;
  color: white !important;
    /* left: 10%;*/
     top:60%;
     left: 15%;

}
.section4 
{
  text-align: center;
  background-color: #F0F0F0;
}
.section4 h3
{
  color:grey;
}
.section4 a
{
padding: 5px;

}
.section4 i
{
  color: grey;
}
.section4-wrapper
{
  width: 75%;
  margin:0 auto;
}
.section4-wrapper .section4-icon
{
  width: 60%;
}
.section4-wrapper h5
{
  color: red;
  font-size: 15px;
}

.section4-wrapper p
{
  color: grey;
  font-size: 13px;
    font-style: italic;
}

.section4 ul li a img 
{

  color: grey;
  display: inline-flex;
  width: 20px;
}

.section4 .social-icon li
{
  display: inline-block;
  /*text-align: center;*/
  padding: 0px;
}

.section4 .social-icon  li a
{

  padding: 0px 17px;

}
ul .social-icon
{
  text-align: center;
}
.social-icon li a
{
  text-align: center;
}
#main {
  width: 100%;
  height: 29px;
  border: 0px solid #c3c3c3;
  display: flex;
  text-align: center;
}
 .icon
{
text-align: center;
  width: 20px;
padding: 10px;
}

.section4-wrapper2
{
  width: 30%;
  margin: 0 auto;
  text-align: left;
}
.section5{
  position: relative;
}
.section5-logo {
  position: absolute;
  top: 15%;
  left: 50%;
 
  transform: translate(-50%, -50%);
  
}

.section5 .section5-header {
color:  #EE485C;

font-size: 20px;
width: 100px;
top:100px;
width: 300px;
text-align: center;
}

.section5-header {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 10%;
  transform: translate(-50%, -50%);
  
}
    .section5-icon .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .section5-icon .arrow-icon img
 {
  width: 40px;

  margin-top:10px;
  color: grey;
 }
    .section5  .ig img 
    {
      width: 80%;
    }
        .section5  .ig2 img 
    {
      width: 25%;
    }
     .section5 .ig3
    {
      width: 20%;
    }
   .ig  img ,.ig2 img
    {
        filter: grayscale(100%);
        width: 50%;
    }
   .ig2 img:hover
    {
       filter: grayscale(0);
    }
   .ig img:hover
    {
       filter: grayscale(0);
    }
       

.section5 img
{
 
}
.section5-logo
{
  position: absolute;
  top: 10%;
  left: 50%;

 /* border-radius: 1px solid red;
*/}
.section5-header
{
  position: absolute;
  color: white;
}
.section5 img
{
width: 100%;

}
/*.section5-icon .row .col-sm-2 img
{
  width: 100px ; 
}

*/
.section5-icon
{
  position: absolute;
  top: 60%;
 
  text-align: center;
  color: pink;
  text-align: center;
  width: 100%;

 /* border-radius: 1px solid red;
*/}
.section6
{
  
text-align:   center;
  
  padding: 10px;
}
.section6 h5
{
color: grey;
margin:20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: red;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
 
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: #EE485C; 
  border: 2px solid #EE485C;/*Standard red color */
}

.button1:hover {
  background-color: grey;
  color: white;
  border:2px solid grey;
  color: white;
}
.section7
{
  position: relative;
  width: 90%;
   display: inline;
}
/*.section7
{

 
}*/

.section7 img
{
  width: 20%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  opacity: 0.3;
  overflow: hidden;

  width: 100%;
  
  transition: .3s ease;
}

.section7:hover .overlay {
  height: 100%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
/*  -webkit-transform: translate(-50%, -50%);*/
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*.row.no-gutters {
   margin-right: 0;
   margin-left: 0;

}*/
.section8
{
  background-color:#F0F0F0   ;
  text-align:center;
  padding:4%;
}
.section8-para
{
width: 100%;

}
.section8 h5
{
  padding-top: 2%;
}
.blog
{
  text-align: center;

  display: inline-block;
}
.blog img
{
  padding: 4px;
  width: 100%;
}

/*.blog1 ,.blog2 ,.blog3{
  max-width: 31%;
}*/
.section8 .icon
{
  display: inline;
}

.section8 .para-left 
{
  
  float: left;
}
.section8 .para-right 
{
  
  float: right;

}
.section8-para p , h4
{
  width: 100%;
  text-align: center;
  color:grey;

}

.para-right:hover {
  color: red;
  cursor: pointer;

}


/*section9  css*/
.demo
{
  background-image: url("../image/getUpdate/getUpdate.jpg");
  background-repeat:no-repeat;

  background-size: cover;
  height: 300px;
}
.demo-header
{text-align: center;
color: white;
padding: 20px;}
.demo .demo-icon img{
  width: 60%;
}
.demo li a
{
  padding:0px;
  text-align: center;

}


.demo  .buttonred {
  background-color: #EE485C;
  color:white;

}
.buttonred {



  color: white;
  text-align: left;
  padding: 20px 20px;
}
.demo .button
{
  padding: 10px 15px;
}
input[type=text] {
  width: 50%;
  padding: 10px 100px 10px 10px;

  box-sizing: border-box;
  text-align: left;
}

@media only   screen and (min-width: 320px) and (max-width: 1100px){
  .demo ul li  img {
        height: 20px;
  }
  .dropdownimg img 
  {
    width: 15px;
  }

.buttonred
{
  padding: 25px;
   width: 35%;
    padding:1px;
  margin-left: 2%;

}

}


/*section9 img
{
  width: 100%;
}
.section9
{
  position: relative;
}*/
 /*DEMO*/
.container2
{
  position: relative;

  display: inline-block;
}
.container2 img
{
width: 100%;
}
.overlay
{
  position: absolute;
  transition: all .3s  ease;
  opacity: 0; background-color: red;
}
.container2:hover .overlayleft{

 opacity: 0.8;
}
.text
{
  color:white;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.overlayleft
{
  height: 100%;
  width: 0;
  top:0;
  left: 0;
}
.container2:hover .overlayleft {

width: 100%;
 
} 
/*#triangle-topleft ,.container2:hover .overlayleft {

width: 0;
   border-top: 50px solid pink;
      border-right: 50px solid transparent;
} 
*/
/*#triangle-topleft
{
        width: 0;
      height: 0;
      border-top: 50px solid pink;
      border-right: 50px solid transparent;
}*/
/*3*/
/*.relative
{
  position: relative;
}
.section7
{
  font-family: sans-serif;
  /*width: 70%;*/
 /* margin: 0 auto;
  left:45%;
  top: 100%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.section7 img

{
  display: block;
  width:20%;
  height: auto; 
}
.content

{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
}
.overlay2
{
  position: absolute;
  top:0;

  left: 0;
  bottom:0;
  right: 0;
  height: 100%;
  width: 20%;
  opacity: 0;
  transition: .5s ease;
  background-color: red;
}
.section7:hover .overlay2
{
  opacity: 0.5;
}*/
/*DEMO*/
.getupdated h6
{
  position:  absolute;
}
.container {
  position: relative;
 }
 .section9 h5 {
  color:white;
  margin-top:30px; 
 }
 .section9 p {
  color:white;
  margin-top:40px; 
 }


.centered h4
{
  text-align: center;
  color: white;

}



.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 10%;
  transform: translate(-50%, -50%);
  
}
.social-icon {
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;padding: 10px;
}
.social-icon
{
  text-align: left;
}
.social-icon img
{
max-width: 70px;
display: inline-block;
}
.social-icon ul li 
{
  width: 20%;
}
.social-icon ul li a
{
 padding: 7px 9px;
}

.form {
  position: absolute;
  top: 65%;
  left: 62%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;padding: 10px;
}

/*section10*/
.section10
{
  background-color: #F0F0F0;
}
.section10 .section10-logo
{
  text-align: center;
  padding-top: 5%;
}

.section10 .section10-logo h5
{
  margin-top: 30px;
  color: grey;
}

.section10 .section10-logo p ,h5
{

  text-align:center;
  color: grey;
}
.section10  .row .col-lg-4
{
text-align: center;

}

.section10  .row .col-lg-4 p
{
width: 50%;
margin: 0 auto;
color: grey

}
.red
{
  color: red;

}
.section10  .row .col-lg-8 h4
{
  text-align: left;
  padding-left: 12px;
}
.form-section10
{
  text-align: center;
}

.form2
{

  border-radius: 0px;
}

.col-sm-12 textarea
{
  width: 100%;
}
.buttonbottom
{
   background-color: #EE485C;
  color:white;
  float: right;
  border-radius: 0px;
  padding:2px 20px;
}
.mapouter
{
  position:relative;
  text-align:right;
  height:474px;
 /*   width: 100%;*/
 
}
.gmap_canvas iframe{
  overflow:hidden;
  background:none!important;
  height:474px;
  width: 100%;
 }
 .container-fluid
 {
  padding: 0;
 }
/*@media screen only (min-width:760px) and (max-width:1150px)
{
  .section8  .col-sm-12 .col-md-4 .col-lg-4
  {
    display: none !important;
    width: 100%;
  }
}*/

/*@media screen only (min-width:560px) and (max-width:1150px){
  .section3-paragraph 
  {
    font-size: 2px;
  }
}*/

@media only screen and (min-width: 320px) and (max-width: 900px){

      .section3-paragraph p{
    font-size: 9px;
    text-align: center;

  }
  .section3-header h2
  { 
    font-size: 15px;
    padding: 5px;
  }
  .section3-Logo img
  {
    width: 60px;
    text-align: center;
     padding: 5px;
  }
  img.bannerdrop2 { 
    width: 100%; 
  }
  .section5-icon .arrow-icon
  {
    width: 10px;

  }
    .section5-icon .ig2
  {
    width: 10px;

  }
  .section5-header p{
    font-size: 16px;
    padding-bottom: 80px;
  }
  .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}


.section5-logo img
{
  width: 50%;

}
.section5-logo 
{

  text-align: center;
}

   .section5-icon .ig
  {
    width: 20px;

  }
}

@media only   screen and (min-width: 320px) and (max-width: 900px){
  .section8 .col-sm-12 .col-md-4 .col-lg-4 img{
width: 30px !important;
  }
}

/*@media  only  screen and (min-width: 320px) and (max-width: 900px)

{
  .section9 .centered h4{
    font-size: 15px;

  }
  .centered
  {
    top:30px;
  }
  .form 
  {
    display: block;
    width:40%;
    text-align: right;
  }
  .form input[type=text]
  {
    width: 50%;


  }
  .col-sm-12 textarea
  {
    width: 70%;


  }
  input[type=text]
  {
    padding: 0px 10px;
    width: 70%;
  }

  .section10 .form2 .col-sm-8 ,.col-sm-12
  {
    width: 400px;

  }
    .section10 .buttonbottom
    {
      text-align: left;
      margin-right: 115px;
    }
    .buttonbottom
    {
      text-align: center;
    }
}*/
@media (min-width: 320px){
  .col-sm-2{
flex: 0 0 16.66%;
max-width: 16.66%;
  }
}
